<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<h1>
    <h1 class="text" style="margin: auto;width: 40%;text-align: center;color: darkblue" th:object="${dataFull}"
        th:text="${dataFull.getLocation().getCity()}+' ('+${dataFull.getLocation().getCountry()}+')'">
    </h1>
    <h2 class="text" style="margin: auto;width: 40%;text-align: center;color: darkblue" th:object="${dataFull}"
        th:text="${dataFull.getCurrent().getTemp()}+' Degrees (Celsius)'">
    </h2>
    <h2 class="text" style="margin: auto;width: 40%;text-align: center;color: darkblue" th:object="${dataFull}"
        th:text="${dataFull.getCurrent().getPressure()}+' Pressure (hPa)'">
    </h2>
    <h2 class="text" style="margin: auto;width: 40%;text-align: center;color: darkblue" th:object="${dataFull}"
        th:text="${dataFull.getCurrent().getCondition().getTextCondiotion()}">
    </h2>


</h1>

</body>
</html>